In [43]:
from datetime import datetime

from sqlalchemy.dialects.postgresql import JSON

from sqlalchemy import (MetaData, Table, Column, Integer, Numeric, String,
                        DateTime, ForeignKey, create_engine)

In [44]:
metadata = MetaData()

In [45]:
test_conn = Table('test_conn', metadata,
                   Column('id', Integer(), primary_key=True),
                   Column('robot_json', JSON),
                   Column('created_at', DateTime(timezone=False), default=datetime.now, onupdate=datetime.now))

In [46]:
engine = create_engine('postgresql://postgres:asdf@localhost:5432/test_cpp')

In [47]:
connection = engine.connect()

In [48]:
from sqlalchemy import select

In [49]:
s = test_conn.select()

In [50]:
rp = connection.execute(s)
results = rp.fetchall()

In [55]:
import pandas as pd

In [57]:
df = pd.DataFrame()

In [60]:
df['power_dump'] = ''
df['datetime'] = ''

In [61]:
df.head()

Empty DataFrame
Columns: [power_dump, datetime]
Index: []

In [69]:
for result in results:
    list = [result[1]['power_dump'], result[2]]
    df.loc[len(df)] = list

In [70]:
df.head()

   power_dump                   datetime
0         0.0 2023-05-08 15:55:29.703961
1         0.0 2023-05-08 15:55:30.211264
2         0.0 2023-05-08 15:55:30.716377
3         0.0 2023-05-08 15:55:31.221532
4         0.0 2023-05-08 15:55:31.726988